<a href="https://colab.research.google.com/github/mrmids/fma-predictions/blob/Python-Code-Dev/Final_Project_TeamFMA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [`IT Experience November Python: Final Project`](https://github.com/mrmids/fma-predictions "Project GitHub Repository")

_Collaborators: Midowa Gbededo & Lucky Omenihu_

### **Project Overview**
[`IT Experience`](https://itexperience.org/ "IT Experience Website") organized a free Python class in November, 2020 and as part of the class completion a final project was assigned. Teams were encouraged to work on open source machine learning datasets.

Our team - "TEAM-FMA", chose to work on the [`Free Music Archive (FMA) dataset`](https://github.com/mdeff/fma "FMA Github Repository") which is a dataset for [`Music Information Retrieval (MIR)`](https://musicinformationretrieval.com/why_mir.html "About MIR") and digital music analysis.

This dataset has been analyzed by the original creators of the idea and there exists ample information on analyzing this dataset on their Github repository. 

_Many of the comments in this notebook are quotations lifted directly from the information page of the original FMA team. All such comments will be recognized with traditional quotation marks " "_

For more information about the original FMA project, please consult:
1. [`FMA's academic paper`](https://arxiv.org/abs/1612.01840 "Paper")
2. [`FMA's UCI Machine Learning Repository`](https://archive.ics.uci.edu/ml/datasets/FMA%3A+A+Dataset+For+Music+Analysis "UCI Repository")

##### **Data Analysis Workflow**
Our team chose to implent the [`CRoss Industry Standard Process for Data Mining (CRISP-DM)`](https://en.wikipedia.org/wiki/Cross-industry_standard_process_for_data_mining "CRISP-DM Wikipedia Page") methodology for our analysis.

"CRSIP-DM describes the data-mining process in six steps": [`(citation: Abbott, D, "Applied Predictive Analytics - Principles and Techniques for the Professional Data Analyst", pp 19-21, Wiley - 2014)`](https://www.wiley.com/en-us/Applied+Predictive+Analytics%3A+Principles+and+Techniques+for+the+Professional+Data+Analyst-p-9781118727966 "Wiley Publishers - Book Link") 

|STAGE   |DESCRIPTION|
|:------|:----------|
|1. Business Understanding| Define the project|
|2. Data Understanding| Examine the data; identify problems in the data|
|3. Data Preparation| Fix problems in the data; create derived variables|
|4. Modeling| Build predictive or descriptive models|
|5. Evaluation| Assess models; report on the expected effects of models
|6. Deployment| Plan for use of models|

What now follows is implementation of the CRISP-DM workflow through the use of the FMA dataset.
*****

### **1 - Business Understanding**
The idea behind this dataset is an effort to utilize machine learning to complete tasks of sorting and organizing large collections of digital music - MP3 files. Some reasons to use machine learning in this way, to name a few, include:

- Sorting large collections of digital music files into genre automatically
- Identifying the sonic signatures of popular music in different genres
- Cover song detection, i.e. what songs were produced by sampling other songs? and for given a cover song, identify what song was sampled
- Recognize the instruments used in songs

Commercial applications of MIR include:
- Software that teach musical instrument playing, by converting digital music files into easy to play music chords. [`Example - Chordify`](https://chordify.net/ "Chordify")
- Software to auto-tune music samples during music production. [`Example - Melodyne`](https://www.celemony.com/en/start "Melodyne")
- Software to detect musical key of audio samples aiding digital music production. [`Example - iZotope Nectar`](https://www.izotope.com/en/products/nectar.html "iZotope Nectar")
- Apps that identify and name any song playing around you. [`Example - Shazam`](https://www.shazam.com/ "Shazam")


Refer to the [`MIR Documentation`](https://musicinformationretrieval.com/why_mir.html "About MIR") for more information on MIR and it's uses.

*****

### **Python Packages Used:**
- [`Librosa:`](https://librosa.org/ "Librosa") audio and music processing in python
- [`Google-Colab:`](https://pypi.org/project/google-colab/ "Google-Colab") colaboratory-specific python libraries
- [`Pandas:`](https://pandas.pydata.org/ "Pandas") data analysis and manipulation tool
- [`NumPy:`](https://numpy.org/ "NumPy") scientific computing with Python
- [`Matplotlib:`](https://matplotlib.org/ "Matplotlib") comprehensive library for creating static, animated, and interactive visualizations in Python
- [`Seaborn:`](https://seaborn.pydata.org/ "Seaborn") provides a high-level interface for drawing attractive and informative statistical graphics
- [`SciKit Learn:`](https://scikit-learn.org/stable/ "SKLearn") machine Learning in Python
- [`Keras:`](https://keras.io/ "Keras") high-level neural networks API for Python
- [`IPython:`](https://ipython.org/ "IPython") provides a rich architecture for interactive computing
- [`CSV:`](https://docs.python.org/3/library/csv.html "CSV") module implements classes to read and write tabular data in CSV format [(useful examples)](https://www.programiz.com/python-programming/reading-csv-files)
- [`Warnings:`](https://docs.python.org/3/library/warnings.html "Warnings") provides control of warning message output on notebook screen

*****

### **Useful Solution Links For Challenges Ecountered:**

1. _Read CSV file into Colab from Google Drive folder:_ Utilized the drive mount method in the Google-Colab package. [`Loading data into Colab from Google Drive`](https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92 "CSV from Google Drive")
2. *Read CSV file with multi-row headers using `pandas.read_csv`:* First solved the multi row header challenge here [`Pandas DataFrame: Playing with CSV files`](https://towardsdatascience.com/pandas-dataframe-playing-with-csv-files-944225d19ff "CSV Multi-Row Header"), then tackled renaming rows and column that showed up as "unnamed" using the tips from [`Stack Overflow`](https://stackoverflow.com/questions/48059994/mark-empty-values-in-pandas-dataframe-multi-row-header "Rename dataframe columns"). A sample from the data developers showing what the proper csv file read should look like is seen in this [`screenshot example`](https://ibb.co/DtWXXqX "screenshot")
3. *Force index of pandas dataframe to be the first column of the CSV file using `pandas.DataFrame.set_index`:* The first resource found for this problem was to use the [`Pandas Set Index`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.set_index.html "Pandas Set Index"). Some more help from [`Stackoverflow`](https://stackoverflow.com/questions/38542419/could-pandas-use-column-as-index "Stackoverflow Index")
4. _Hierarchical indexing of pandas dataframe:_ Resource found for this problem was to use the [`Pandas Hierarchical indexing`](https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html "Pandas Hierarchical indexing")

*****

In [1]:
## Connect to Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
## Import the necessary library packages

%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as skl
import sklearn.utils, sklearn.preprocessing, sklearn.decomposition, sklearn.svm
import librosa
import librosa.display
import os
import IPython.display as ipd
import csv
import ast

import warnings
warnings.filterwarnings('ignore')
#warnings.filterwarnings(action='once')

In [9]:
# Defining function to read FMA metadata with multi-row headers and use first column as index

def load_metadata(filepath):
    filename = os.path.basename(filepath)
    if 'features' in filename:
        return pd.read_csv(filepath, index_col=0, header=[0, 1, 2])
    if 'echonest' in filename:
        return pd.read_csv(filepath, index_col=0, header=[0, 1, 2])
    if 'genres' in filename:
        return pd.read_csv(filepath, index_col=0)
    if 'tracks' in filename:
        tracks = pd.read_csv(filepath, index_col=0, header=[0, 1])
        

        COLUMNS = [('track', 'tags'), ('album', 'tags'), ('artist', 'tags'),
                   ('track', 'genres'), ('track', 'genres_all')]
        for column in COLUMNS:
            tracks[column] = tracks[column].map(ast.literal_eval)
        

        COLUMNS = [('track', 'date_created'), ('track', 'date_recorded'),
                   ('album', 'date_created'), ('album', 'date_released'),
                   ('artist', 'date_created'), ('artist', 'active_year_begin'),
                   ('artist', 'active_year_end')]
        for column in COLUMNS:
            tracks[column] = pd.to_datetime(tracks[column])
        SUBSETS = ('small', 'medium', 'large')
        tracks['set', 'subset'] = tracks['set', 'subset'].astype(
            pd.CategoricalDtype(categories=SUBSETS, ordered=True))
        COLUMNS = [('track', 'genre_top'), ('track', 'license'),
                   ('album', 'type'), ('album', 'information'),
                   ('artist', 'bio')]
        
        for column in COLUMNS:
            tracks[column] = tracks[column].astype('category')
        
        return tracks

In [5]:
## Identify folder holding mp3 files ** Change path to how it appears on your google drive

path_audio_dir = "/content/drive/MyDrive/Colab Notebooks/ITExperience Python Training/Final Project/fma_small"

audio_dir = os.environ.get(path_audio_dir)

In [6]:
## Load the url paths from Google Drive for the FMA MetaData Data Files ** Change path to how it appears on your google drive

path_metadata = "/content/drive/MyDrive/Colab Notebooks/ITExperience Python Training/Final Project/fma_metadata"
path_echonest = "/content/drive/MyDrive/Colab Notebooks/ITExperience Python Training/Final Project/fma_metadata/echonest.csv"
path_tracks = "/content/drive/MyDrive/Colab Notebooks/ITExperience Python Training/Final Project/fma_metadata/tracks.csv"
path_features = "/content/drive/MyDrive/Colab Notebooks/ITExperience Python Training/Final Project/fma_metadata/features.csv"
path_genres = "/content/drive/MyDrive/Colab Notebooks/ITExperience Python Training/Final Project/fma_metadata/genres.csv"

#echonest = pd.read_csv(path_echonest)
#tracks = pd.read_csv(path_tracks)
#features = pd.read_csv(path_features)
#genres = pd.read_csv(path_genres)

In [10]:
# Load metadata and features.
genres = load_metadata(path_genres)
features = load_metadata(path_features)
echonest = load_metadata(path_echonest)
tracks = load_metadata(path_tracks)

# Inspect files loaded 
tracks.shape, genres.shape, features.shape, echonest.shape

((106574, 52), (163, 4), (106574, 518), (13129, 249))

In [11]:
tracks.head()

            album                      ... track
         comments        date_created  ...  tags            title
track_id                               ...
2               0 2008-11-26 01:44:45  ...    []             Food
3               0 2008-11-26 01:44:45  ...    []     Electric Ave
5               0 2008-11-26 01:44:45  ...    []       This World
10              0 2008-11-26 01:45:08  ...    []          Freeway
20              0 2008-11-26 01:45:05  ...    []  Spiritual Level

[5 rows x 52 columns]

In [ ]:
# Load the Echonest data, taking care of the multiple header rows
# "The Echonest file contains audio features provided by Echonest for a subset of 13,129 tracks"

# This step contains some data preparation in form of manipulating the multi-row header

echonest = pd.read_csv(path_echonest,  header = [0,1,2,3], na_values=[-1,''])

a = echonest.columns.get_level_values(level=0).str.replace('Un.*','')
b = echonest.columns.get_level_values(level=1).str.replace('Un.*','')
c = echonest.columns.get_level_values(level=2).str.replace('Un.*','')
d = echonest.columns.get_level_values(level=3).str.replace('Un.*','')

echonest.columns = [a, b, c, d]

## The next set of commented lines of code are codes that could come in handy

#echonest.set_index([('', '', '', 'track_id')], inplace=True)
#echonest = echonest.rename_axis("track_id")

#list(echonest.columns.values.tolist())
#echonest.columns.levels
#echonest.set_index([('', '', '', 'track_id')])

#new_index = echonest[('', '', '', 'track_id')]

#echonest.reindex(new_index)

In [ ]:
# Load the Tracks data, taking care of the multiple header rows
# "Tracks data contains per track metadata such as ID, title, artist, genres, tags and play counts, for all 106,574 tracks"

# This step contains some data preparation in form of manipulating the multi-row header

tracks = pd.read_csv(path_tracks, header = [0,1,2], na_values=[-1,''])

a = tracks.columns.get_level_values(level=0).str.replace('Un.*','')
b = tracks.columns.get_level_values(level=1).str.replace('Un.*','')
c = tracks.columns.get_level_values(level=2).str.replace('Un.*','')

tracks.columns = [a, b, c]

#tracks.set_index([('', '', 'track_id')], inplace=True)
#tracks = tracks.rename_axis("track_id")

In [ ]:
# Load the Feature data, taking care of the multiple header rows
# "Features data contains per track common features extracted with librosa, for all 106,574 tracks"

# This step contains some data preparation in form of manipulating the multi-row header

features = pd.read_csv(path_features, index_col=0, header = [0,1,2,3], na_values=[-1,''])

a = features.columns.get_level_values(level=0).str.replace('Un.*','')
b = features.columns.get_level_values(level=1).str.replace('Un.*','')
c = features.columns.get_level_values(level=2).str.replace('Un.*','')
d = features.columns.get_level_values(level=3).str.replace('Un.*','')

features.columns = [a, b, c, d]

#features.set_index([('feature', 'statistics', 'number', 'track_id')], inplace=True)

In [ ]:
# Load the Genres data, it has a single row header and is a straight forward load
# "Genre data contains all 163 genres with name and parent (used to infer the genre hierarchy and top-level genres)"

genres = pd.read_csv(path_genres)

*****
### **2 - Data Understanding**

Three of the four CSV files contained in the fma_metadata folder have multi-row headers. This means that the dataframes can be referenced at multiple levels and each dataframe can be sliced up in smaller sub-sections for analysis.

Dataframe column levels and column name lists are used to inspect the dataframes. Sample code used to do this is as follows:

    #To check the column levels
    echonest.columns.levels

    #To check the column names
    list(echonest.columns.values.tolist())

##### **2.1 - Check For Data Consitency**

Check that the row counts and relational key between tables, in our case the "track_id" column, are all consistent

In [ ]:
# Checking for data consistency using assert condition
# Conditions that need to be satisfied are:
# 1. Features dataframe needs to be the sasme size as the tracks dataframe. 
#     The features dataframe represent sonic signatures extracted from every song in the track folder
#     The tracks dataframe
# 2. The track IDs  in the echonest dataset are also contained in the tracks and features files
# assert works by not returning any errors. If false, then there is an error

np.testing.assert_array_equal(features.index, tracks.index)
assert echonest.index.isin(tracks.index).all()

##### **2.2 - The Tracks Dataset**

"Tracks data contains per track metadata such as ID, title, artist, genres, tags and play counts, for all 106,574 tracks"

Using basic print and dataframe functions to inspect the tracks dataset, it is

In [ ]:
# Summary of tracks and genre datasets
print('{} tracks, {} artists, {} albums, {} genres'.format(
    len(tracks), len(tracks['artist', 'id'].unique()),
    len(tracks['album', 'id'].unique()),
    sum(genres['#tracks'] > 0)))
mean_duration = tracks['track', 'duration'].mean()
print('track duration: {:.0f} days total, {:.0f} seconds average'.format(
    sum(tracks['track', 'duration']) / 3600 / 24,
    mean_duration))

106574 tracks, 16341 artists, 14854 albums, 161 genres
track duration: 343 days total, 278 seconds average

##### **2.3 - The Echonest Dataset**

"The Echonest file contains audio features provided by Echonest for a subset of 13,129 tracks"

Utilize basic print and dataframe functions to inspect what is inside the Echonest dataset.

It is seen that the Echonest dataset is comprised of the following multi-level hierrarchy for **each track**:

1. _Audio features:_ acousticness, danceability, energy, liveliness, tempo etc.
2. _Track Metadata:_ album name, date, artist, artist geographic location etc.
3. _Track Music Charts Ranking:_ artist popularity, familiarity, song hotness etc.
4. _Track Social Features:_ measures of artist based on social parameters - artist hotness
5. _Temporal Features:_ Represents 223 different properties used to classify each track

In [ ]:
echonest.head()

                 echonest               ...
           audio_features               ... temporal_features
             acousticness danceability  ...               221        222         223
  track_id                              ...
0        2       0.416675     0.675894  ...           3.61288  13.316690  262.929749
1        3       0.374408     0.528643  ...           6.01864  16.673548  325.581085
2        5       0.043567     0.745566  ...           5.86635  16.013849  356.755737
3       10       0.951670     0.658179  ...           8.33319  21.317064  483.403809
4      134       0.452217     0.513238  ...          11.20267  26.454180  751.147705

[5 rows x 250 columns]

In [ ]:
print('{1} features for {0} tracks'.format(*echonest.shape))
ipd.display(echonest['echonest', 'metadata'].head())
ipd.display(echonest['echonest', 'audio_features'].head())
ipd.display(echonest['echonest', 'social_features'].head())
ipd.display(echonest['echonest', 'ranks'].head())

250 features for 13129 tracks

   album_date         album_name  ... artist_name               release
                                  ...
0         NaN                NaN  ...        AWOL  AWOL - A Way Of Life
1         NaN                NaN  ...        AWOL  AWOL - A Way Of Life
2         NaN                NaN  ...        AWOL  AWOL - A Way Of Life
3  2008-03-11  Constant Hitmaker  ...   Kurt Vile     Constant Hitmaker
4         NaN                NaN  ...        AWOL  AWOL - A Way Of Life

[5 rows x 7 columns]

  acousticness danceability    energy  ... speechiness    tempo   valence
                                       ...
0     0.416675     0.675894  0.634476  ...    0.159310  165.922  0.576661
1     0.374408     0.528643  0.817461  ...    0.461818  126.957  0.269240
2     0.043567     0.745566  0.701470  ...    0.124595  100.260  0.621661
3     0.951670     0.658179  0.924525  ...    0.032985  111.562  0.963590
4     0.452217     0.513238  0.560410  ...    0.525519  114.290  0.894072

[5 rows x 8 columns]

  artist_discovery artist_familiarity  ... song_currency song_hotttnesss
                                       ...
0         0.388990           0.386740  ...      0.000000        0.000000
1         0.388990           0.386740  ...      0.000000        0.000000
2         0.388990           0.386740  ...      0.000000        0.000000
3         0.557339           0.614272  ...      0.005158        0.354516
4         0.388990           0.386740  ...      0.000000        0.000000

[5 rows x 5 columns]

  artist_discovery_rank  ... song_hotttnesss_rank
                         ...
0                   NaN  ...                  NaN
1                   NaN  ...                  NaN
2                   NaN  ...                  NaN
3                2635.0  ...              67609.0
4                   NaN  ...                  NaN

[5 rows x 5 columns]